<div class="footer">
  <div class="block mx-auto my-auto w-4/5 logo ">
    <img src="../../../assets/Logo.png" alt="" />
  </div>
<span class="flex flex-wrap">
  <div class="left-menu text-base ">
      <div routerLink="/Contact"> Contact us </div>
      <div routerLink="/policy"> About us </div>
      <div routerLink="/policy"> terms and conditions </div>
  </div>
  <div class="right-menu text-base">
      <div  routerLink='/shirts/category/section/products/shirts'>Shirts<div>
        <div routerLink='/pants/category/section/products/pants'>Pants<div>
          <div routerLink='/newarrival/category/section/products/newarrival'> New arrivals </div>
          <div routerLink='/others/category/section/products/others' >Others<div>
  </div><br /><br />
  <p class="copyright"> all rights reserved &copy; WebApp built with &hearts; by <a href="stackcode.com">Xander</a></p>
</div>