<div className='absolute left-0 sm:hidden pl-2 border-2' id='sideBarCom'>
    <ul>
                <li className='pb-5 pt-5 '>
                    <div >
                        <div routerLink='/newarrival/category/section/products/newarrival'  className='p-4 no-underline text-base text-black  no-underline truncate hover:text-red-600 font-medium'>
                               NewArrival
                         </div>
                    </div>
                </li>
                <li className='pb-5 pt-5 '>
                    <div  >
                    <div routerLink='/shirts/category/section/products/shirts'  className='p-4 no-underline text-base text-black  no-underline truncate hover:text-red-600 font-medium'>
                               Shirts
                         </div>
                    </div>
                </li>
                <li className='pb-5 pt-5 '>
                    <div >
                    <div routerLink='/pants/category/section/products/pants'  className='p-4 no-underline text-base text-black  no-underline truncate hover:text-red-600 font-medium'>
                               Pants
                         </div>
                    </div>
                </li>
                <li className='pb-5 pt-5 '>
                    <div >
                    <div routerLink='/others/category/section/products/others'  className='p-4 no-underline text-base text-black  no-underline truncate hover:text-red-600 font-medium'>
                               Others
                         </div>
                    </div>
                </li>

    </ul>
</div>