<div class="nav absolute">

<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
<div class=" header">
  <label for="openSidebarMenu" class="sidebarIconToggle ">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
</div>

<div id="sidebarMenu">
  <ul class="sidebarMenuInner">
    <li routerLink="/">Home</li>
    <li class='hover:text-gold-500' routerLink='/jerseys/category/section/products/jerseys'>Jerseys <li>
    <li class='hover:text-gold-500' routerLink='/shirts/category/section/products/shirts' >Shirts </li>
    <li class='hover:text-gold-500' routerLink='/pants/category/section/products/pants' > Pants </li> 
    <li class='hover:text-gold-500' routerLink='/footwears/category/section/products/footwears' > Footwears </li> 
  </ul><br /><br /><br />

  
<div class="block w-4/5 mx-auto my-auto ">
  <img src="../../../assets/Laz Gid.svg" alt="/ " />
</div>


</div>
</div>