<main>
  <app-navbar></app-navbar>
  <div class="details pt-10 ">
    <div>
    </div>
    <div class="det-main-cont grid grid-cols-2 gap-6 sm:grid-cols-1 relative">
      <div class="det-img " data-aos="zoom-in">
        <img src={{Products?.image1}} alt='/' />
      </div>
      <div class="det-info">
        <span class="text-base text-lighter bg-green-600 p-2 rounded text-white"> {{Products?.SKU}} </span><br /><br />
        <h3 class="det-title font-bold text-3xl ">
          {{Products?.name}}
        </h3>
        <h5 class="detprice font-bold text-2xl p-2"> <b class="text-black " > N </b> {{Products?.price}} </h5>
        <br />
        to buy or order for custom design 
        <div class="whatsaapbn "> 
          <a href="https://wa.me/09075925652" class="text-2xl" >Whatsapp me </a>
         </div>

         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://wa.me/09075925652"  class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>
         
      </div>
    </div>
  </div><br />
  <div>
    <h4 class="p-3 font-bold text-2xl "> Check these out </h4>

    <div class="slider">
      <div class="slides">
        <div [routerLink]="['/product/details/', Others?.id]" *ngFor="let Others of Others" data-aos="zoom-in">
          <div class="proCard">
            <div class="imgHolder">
              <img src={{Others?.image1}} alt='/' />
            </div>
            <div class="info">
              <h4 class="title truncate">{{Others?.name}}</h4>
              <div class="price">N {{Others?.price}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </main><br />
    <app-footer></app-footer>