<main>
<app-navbar></app-navbar>
    <section class="pt-10 pb-10 block mx-auto my-auto " >

        <div class='' id="prod-container">
            <div id='titlebox' class='li:p-1'>
                <h2 class='p-4 text-left text-5xl font-bold sm:text-3xl sm:text-center sm:font-medium'> Shirts </h2>
                <p class='text-sm text-lighter pl-2 sm:text-xs capitalize'> It all about shirts . Browse our versatile selection and choose from a range of styles and washes that are
                    perfect for you . we have all the standout, on-trend and inexpensive styles you're looking for.
                    Browse our shirts collection below and find your new favorite pairs.</p>
                <div class='flex shrink gap-4 pt-2 pb-2'>
                    <span class='font-bold p-2 cursor-pointer sm:text-sm'> Shop Now  </span>
                </div>
            </div>


            <ul class='pl-2 grid grid-cols-4 3xl:grid-cols-4  gap-0 lg:grid-cols-3 sxs:grid-cols-2 sxs:gap-0 li:grid-cols-1 li:p-2 li:grid-cols-2 li:gap-3 li:w-full li:p-1 ' >

                <div [routerLink]="['/product/details/', Shirt?.id]" *ngFor="let Shirt of Shirt" data-aos="zoom-in">
                    <div class="proCard">
                        <div class="imgHolder">
                                <img src={{Shirt?.image1}}
                                    alt='/' />
                        </div>
                        <div class="info">
                            <h4 class="title truncate text-md text-lighter ">{{Shirt?.name}}</h4>
                            <div class="price font-bold text-lg ">N {{Shirt?.price}}</div>
                        </div>
                    </div>
                </div>

            </ul><br /><br />
        </div>

    </section>

    <section class='pt-10 '>
        <app-footer></app-footer>
    </section>

</main>